@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cambay:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #ff933e;
    --primary-color-dark: #db6f35;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
    --header-font: "Bebas Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
img {
    display: flex;
    width: 100%;
} */

a {
    text-decoration: none;
    transition: 0.3s;
    color: var(--text-dark);
}

body {
    font-family: "Cambay", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    border-bottom: 1px solid var(--primary-color);
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: var(--header-font);
}

.nav_header {
    display: flex;
    align-items: center;
}

.nav_logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
}

.nav_logo a span {
    color: var(--primary-color-dark);
}

.nav_menu_btn {
    display: none;
    cursor: pointer;
}

.ri-menu-line {
    font-size: 1.5rem;
    color: var(--text-dark);
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav_links li a {
    color: var(--text-dark);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.nav_links li a:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 5px;
}

.nav_btns {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.register {
    background-color: var(--primary-color);
    color: var(--white);
}

.register:hover {
    background-color: var(--primary-color-dark);
}

.login {
    background-color: var(--white);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.login:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

@media (max-width: 768px) {
    .nav_links {
        display: none;
    }

    .nav_menu_btn {
        display: block;
    }
}

.item {
    margin: 5px;
    padding: 5px 10px;
    background-color: #e9ecef;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
}
.item .remove {
    margin-left: 5px;
    cursor: pointer;
    color: red;
}
#selectedPreferences {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px; /* Add space between menu and selected items */
}
